{% extends "base.html" %}


{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div id="about" class="about card" style="background: url({{ about.image|image }}); background-size:cover">

	<div class="text" data-stellar-ratio="2">
		<div class="title">{{ about.teaser }}</div>
		<p>{{ about.body }}</p>
	</div>

</div>
{% endblock %}



{% block tech %}
<!-- tech section -->

{% setcontent tech = 'page/tech' %}
<section id="tech" class="tech card" style="background: url({{ tech.image|image }}); background-size:cover">

	<div class="text" data-stellar-ratio="2">
		<div class="title">{{ tech.teaser }}</div>
		<p>{{ tech.body }}</p>
	</div>

</section>
{% endblock %}




{% block writing %}
<!-- writing section -->

{% setcontent write = 'page/writing' %}
<section id="writing" class="writing card" style="background: url({{ write.image|image }}); background-size: cover">

	<div class="text" data-stellar-ratio="2">
		<div class="title">{{ write.teaser }}</div>
		<p>{{ write.body }}</p>
	</div>

</section>
{% endblock %}





