{% extends "base.html" %}


{% block splash %}
<!-- splash section -->

<div class="splash">
	<div class="greeting">
		<p>I am a freelancing</p>
		<p>web professional*</p>
		<p>*writer/coder/maker</p>
		<p></p>
	</div>
</div>

{% endblock %}



{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="story">
	<div id="aboutAnchor"></div>
	<div class="text">
		<h1>My Story</h1>
		<p>{{ about.body }}</p>
	</div>

<div class="about-pic" style="background: url({{ about.image|image }}); background-size: cover" data-stellar-background-ratio="0.25"></div>

</div>
{% endblock %}


{% block skills %}
	<div class="text">
		<h1>My Skills</h1>
		<div class="skills">
			<div class="large-4 columns"><h1><i class="fa fa-users fa-2x"></i></h1></div>
			<div class="large-4 columns"><h1><i class="fa fa-terminal fa-2x"></i></h1></div>
			<div class="large-4 columns"><h1><i class="fa fa-wrench fa-2x"></i></h1></div>
		</div>
	</div>
{% endblock %}

{% block code %}
{% setcontent tech = 'page/tech' %}
<div class="code-pic" style="background: url({{ tech.image|image }}); background-size: cover" data-stellar-background-ratio="0.25">
</div>
{% endblock %}


{% block writing %}

{% setcontent write = 'page/writing' %}
<div class="text">
	<h1>My Writing</h1>
	<p>{{ write.body }}</p>
</div>

<div class="pencil-pic" style="background: url({{ write.image|image }}); background-size: cover" data-stellar-background-ratio="0.25"></div>


{% endblock %}





