{% extends "base.html" %}


{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<section class="about card" style="background: url({{ about.image|image }}); background-size:cover" data-stellar-background-ratio="0.25">

	<div class="text">
		<div class="greeting">{{ about.teaser }}</div>
		<div class="main">{{ about.body }}</div>
		<div class='logo-container'>
			<a class="logos" href='http://www.github.com/marshaljoe'><i class='fa fa-github fa-3x'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="logos" href='https://www.linkedin.com/pub/joe-marshall/50/553/708'><i class='fa fa-linkedin-square fa-3x'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="logos" href='http://www.twitter.com/joecharmar'><i class='fa fa-twitter fa-3x'></i></a>
		</div>
	</div>

</section>
{% endblock %}



{% block tech %}
<!-- tech section -->

{% setcontent tech = 'page/tech' %}
<section class="tech card" style="background: url({{ tech.image|image }}); background-size:cover" data-stellar-background-ratio="0.25">

	<div class="text">
		<p>{{ tech.body }}</p>
	</div>

</section>
{% endblock %}




{% block writing %}
<!-- writing section -->

{% setcontent write = 'page/writing' %}
<section class="writing card" style="background: url({{ write.image|image }}); background-size: cover" data-stellar-background-ratio="0.25">

	<div class="text">
		<p>{{ write.body }}</p>
	</div>

</section>
{% endblock %}





