{% extends "base.html" %}

{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="about card">
<img src="{{ about.image|image }}" style="width:100%;height:100%">
{{ about.teaser }}
{{ about.body }}

</div>
{% endblock %}



{% block tech %}
<!-- tech section -->

{% setcontent tech = 'page/tech' %}
<div class="tech card">
<img src="{{ tech.image|image }}" style="width:100%;height:100%">
{{ tech.teaser }}
{{ tech.body }}

</div>
{% endblock %}






