{% extends "base.html" %}

{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="about card" style="background: url({{ about.image|image }}); background-size:cover">

<p>{{ about.teaser }}</p>
<p>{{ about.body }}</p>

</div>
{% endblock %}



{% block tech %}
<!-- tech section -->

{% setcontent tech = 'page/tech' %}
<div class="tech card" style="background: url({{ tech.image|image }}); background-size: cover">

<p>{{ tech.teaser }}</p>
<p>{{ tech.body }}</p>

</div>
{% endblock %}






