{% extends "base.php" %}


{% block splash %}
<!-- splash section -->

<div class="splash" id="homeAnchor">
	<div class="greeting">
		<div class="text-box">
			<p class="mobile-only hi">Hi there.</p>
			<p>I am currently</p>
			<p><span class="available">available</span> for</p>
			<p>new projects.</p>
			<p class="mobile-only signoff">New projects, you say? <i class="fa fa-angle-down"></i></p>
		</div>
	</div>
</div>
{% endblock %}



{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="story">
	<div class="large-8 columns large-offset-2">
		<div class="text">
			<h1>Hi</h1>
			<p>{{ about.body }}</p>
		</div>
	</div>
</div>
{% endblock %}

{% block projects %}
{% setcontent tech = 'page/tech' %}

<div class="code-container" id="projectAnchor">
		<div class="divider"></div>
		<div class="code-content">

			<div class="row">
				<div id="spiceworks" style="background: url({{ paths.theme }}images/spiceworks.png)" class="project large-6 columns">
					<div class="project-info"><h1>Spiceworks</h1><p>Windows XP dies a terrible death this month. Here's a piece I wrote about coping with its coming end of life.</p><a href="">XP, We Hardly Knew Thee</a></div>
				</div>
				<div id="prepify" style="background: url({{ paths.theme }}images/prepify.png)" class="project large-6 columns">
					<div class="project-info"><h1>Prepify</h1><p>This interactive SAT prep tool comes in two flavors: an older, original MakerSquare version and a LAUNCH reboot.</p><p><a href="https://github.com/MarshalJoe/Prepify">MakerSquare</a> | <a href="https://github.com/fremn/prepify_launch">Reboot</a></p></div>
				</div>
			</div>

			<div class="row">
				<div id="sxsw" style="background: url({{ paths.theme }}images/sxsw.png)" class="project large-4 columns">
					<div class="project-info"><h1>SXSW</h1><p>Every year I do some work for the SXSW Film blog. This year I interviewed local filmmakers about the city.</p><a href="http://sxsw.com/film/news/2014/learn-local-insider-tips-yake-smith">All Things Austin</a></div>
				</div>
				<div id="alcalde"  style="background: url({{ paths.theme }}images/alcalde.png)" class="project large-4 columns">
					<div class="project-info"><h1>The Alcalde</h1><p>The UT alumni magazine is your best 40 acres beat. This piece marks the <em>Travesty</em>'s 15th anniversary.</p><a href="http://alcalde.texasexes.org/2012/04/area-humor-publication-is-worlds-greatest/">Explore the 40</a></div>
				</div>
				<div id="culturemap" style="background: url({{ paths.theme }}images/culturemap.png)" class="project large-4 columns">
					<div class="project-info"><h1>Culturemap</h1><p>Ever wanted a breakdown of Austin's arcade selection? Lucky you! I have just the thing...</p><a href="http://austin.culturemap.com/news/innovation/08-26-11-19-09-games-of-all-genus-genius-arcade-edition/">Game/Read On</a></div>

				</div>
			</div>
		</div>
	</div>


{% endblock %}


{% block experience %}
	<div class="resume" id="experienceAnchor">

		<div class="container large-10 large-offset-1 columns">
			<div class="margin-expander"></div>
			<br>
			<br>
			<h1 class="subtitle">Skills</h1>
			<br>
			<br>
			<h2>Technical</h2>
			<h3>HTML5, CSS3, JS, RoR, Git, Foundation, SCSS, jQuery, Bolt, LESS, Jira, OnTrack, Ajax, Bootstrap, SVN, Wordpress, Rspec, Minitest, S.A.L.S.A., Twig, Python</h3>
			<h2>Otherwise</h2>
			<h3>AP, Content, Copywriting, Interviews, Editing, Proofing, Reporting, Instruction, SEO, Criticism, Scripts</h3>
			<h1 class="subtitle">Experience</h1>
			<br>
			<br>
			<h2>Copywriter @Spiceworks <em>Dec 2013 - current</em></h2>
			<p>As a content writer at Spiceworks, I interview subject matter experts and write copy for a variety of (internal and external) projects. A good portion of my work includes "Data Gone Spicy" reports: industry papers showcasing Spiceworks-generated research in an accessible way.</p>
			<h2>Web Developer @Prepify <em>Oct 2013 - current</em></h2>
			<p>Prepify was founded to level the SAT-prep playing field and provide quality test preparation for everyone - regardless of income. I was first a part of Prepify at Makersquare, during my capstone project, and continued my association after the program's conclusion.</p>
			<h2>Data Transcription Technician @Texas Legislative Council <em>Dec 2012 - June 2013</em></h2>
			<ul>
				<li>Proofed, tracked, and organized legislative documents for an organization that serves all 181 Texas legislators and numerous state agencies.</li>
				<li>Gained new familiarity with archival (S.A.L.S.A.) and tracking (OnTrack) softwares.</li>
			</ul>
			<h2>Web Content Intern @Somnio <em>May 2012 - August 2012</em></h2>
			<ul>
				<li>Researched and replicated brand voices of HP, IBM, and other Somnio clients</li>
				<li>Wrote voiceover scripts, sales collateral, and executive presentation notes</li>
				<li>Wrote diaogue for IBM CloudQuest, a game designed for IBM to teach users about the cloud and collect relevant sales data</li>
				<li>Took part in client kickoffs, brainstorming sessions, and strategy meetings</li>
				<li>Collaborated with Content Strategy, Creative Direction, and Client Relations teams</li>
			</ul>
			<br>
			<h1 class="subtitle">Education</h1>
			<br>
			<br>
			<h2>MakerSquare</h2>
			<ul>
				<li>Full-time immersive bootcamp</li>
				<li>Learned Ruby, RoR, HTML/CSS, JS and Jquery</li>
				<li>Used common management tools Git, Github, Flowdock, and Basecamp</li>
				<li>Integrated APIs into apps: including Twilio, Google Maps, and Twitter</li>
				<li>Introduced to Test-Driven Development (TDD) using Rspec and agile development</li>
				<li>Built <strong>BikeWeather</strong>, an app that responds to texts with weather conditions as they affect cyclists</li>
			</ul>
			<h2>The University of Texas</h2>
			<ul>
				<li>Received my B.A. in Plan II Honors (an interdisciplinary honors program between the natural sciences and liberal arts)</li>
				<li>Attended the Pembroke-Kings Program at Cambridge University, Kings College</li>
			</ul>
			</div>
		<br class="clear">
	</div>
{% endblock %}

{% block contact %}

{% setcontent write = 'page/writing' %}

<div class="pencil-pic" style="background: url({{ write.image|image }}); background-size: cover" data-stellar-background-ratio="0.5">
</div>

<div id="contactAnchor" class="contact-section">
	<div id="contact-form">
			<div class="container">
				<br>
				<form method='post' action=''>
					<label for="email">Email*</label>
	    		<input id="email" name='email' type='text' required>
	    		<label for="subject">Subject</label>
	    		<input id="subject" name='subject' type='text'>
	    		<label for="message">Message*</label>
	    		<textarea id="message" name='message' placeholder="How 'bout that Game of Thrones, eh?" required></textarea>
       		<input class="radius button" type='submit' value="Send">
  			</form>
  			<div id="loading">
    			Sending your message...
  			</div>
  			<div id="success">
  				Message sent.
  			</div>

			</div>
		
		</div>

</div>


{% endblock %}





