{% extends "base.html" %}

{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="about card" style="background: url({{ about.image|image }}); background-size:cover">

	<div class="text">
		<p>{{ about.teaser }}</p>
		<p>{{ about.body }}</p>
	</div>

</div>
{% endblock %}



{% block tech %}
<!-- tech section -->

{% setcontent tech = 'page/tech' %}
<div class="tech card" style="background: url({{ tech.image|image }}); background-size: cover">

	<div class="text">
		<p class="title">{{ tech.teaser }}</p>
		<p>{{ tech.body }}</p>
	</div>

</div>
{% endblock %}




{% block writing %}
<!-- writing section -->

{% setcontent write = 'page/writing' %}
<div class="writing card" style="background: url({{ write.image|image }}); background-size: cover">

	<div class="text">
		<p class="title">{{ write.teaser }}</p>
		<p>{{ write.body }}</p>
	</div>

</div>
{% endblock %}





