{% extends "base.html" %}


{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<section class="about card" style="background: url({{ about.image|image }}); background-size:cover" data-stellar-background-ratio="0.35">

	<div class="text">
		<p>{{ about.body }}</p>
	</div>

</section>
{% endblock %}



{% block tech %}
<!-- tech section -->

{% setcontent tech = 'page/tech' %}
<section class="tech card" style="background: url({{ tech.image|image }}); background-size:cover" data-stellar-background-ratio="0.35">

	<div class="text">
		<p>{{ tech.body }}</p>
	</div>

</section>
{% endblock %}




{% block writing %}
<!-- writing section -->

{% setcontent write = 'page/writing' %}
<section class="writing card" style="background: url({{ write.image|image }}); background-size: cover" data-stellar-background-ratio="0.35">

	<div class="text">
		<p>{{ write.body }}</p>
	</div>

</section>
{% endblock %}





